<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windog.activitytest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Activities-->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SecondActivity" />
        <activity android:name=".ui.ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.windog.activitytest.ACTION_START" />

                <!--  以下两行是定义启动Activity的，也就是会在手机桌面放一个图标。可以设置多个，并不唯一  -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.windog.activitytest.MY_CATEGORY" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FourthActivity" />
        <activity android:name=".ui.FifthActivity"></activity>

        <!--Receivers-->
        <!--receiver中添加filter，filter中添加action-->
        <receiver android:name=".BroadcastReceiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
                <!--对于有序广播，可以设置接收器的优先级，优先级高的话，还可以截断广播-->
        <receiver android:name=".BroadcastReceiver.MyBroadcastReceiver">
            <intent-filter android:priority="100">
                <action android:name="windiscall"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadcastReceiver.ForceOfflineReceiver">
            <intent-filter>
                <action android:name="WINDY.FORCE_OFFLINE"></action>
            </intent-filter>
        </receiver>

    </application>


</manifest>
